<span id="result" style="text-align: center; font-size: 20px;background-color: rgb(112, 13, 13);"></span>
    <br><br>
    <span id="journey" style="text-align: center; font-size: 20px;background-color: rgb(221, 41, 41);"> </span><br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <table class="table table-bordered table-striped table-dark" id="planner_table1">
                    <thead class="thead-dark" >
                        <tr class="bg-info">
                          <th>Package Id</th>
                          <th>Booking Id</th>
                          <th >Duration(in Weeks)</th>
                          <th>Facilities</th>
                          <th>Price</th>
                          <th>createdBy</th>
                          <th>Date of Booking</th>
                          <th>StartDate</th>
                          <th>EndDate</th>
                          <th>Cancel</th>
                          <th> Status</th>
                        </tr></thead>
                        <tbody *ngIf="bookings">
                            <tr *ngFor="let booking of bookings">
                              
                             <td>{{booking.package?.id}}</td>
                             <td>{{booking.id}}</td>
                            <td>{{booking.package?.Duration}}</td>
                            <td>{{booking.package?.Facilities}}</td>
                            <td>{{booking.package?.price}}</td>
                            <td>{{booking.username}}</td>
                            <td>{{booking.createdDate}}</td>
                            <td>{{booking.Startdate}}</td>
                            <td>{{booking.enddate}}</td>
                            <td>{{booking.status}}</td>
                            
                            <td><button type="submit"  [disabled]="isDisabled()" *ngIf="booking.status!='CANCELLED'" (click)='cancel(booking)'>Cancel Booking</button></td>
                            </tr>
                       </tbody>
                  </table>
            </div><br><br>
          
        </div>
        <!-- <h3>PREVIOUS BOOKINGS</h3>
        <div class="container">
            <div class="row" id="cardcontain">
            <div class="col-md-4 card text-white bg-dark mb-3" style="max-width: 18rem;" >
                <div class="card-header"></div>
                <p class="card-text"></p>
                <div class="card-body">
                  <h5 class="card-title"></h5>
                  <p class="card-text"></p>
                  <p class="card-text"></p>
                  <p class="card-text"></p>
                  <p class="card-text"></p><p class="card-text"></p>
                </div>
              </div>
            </div>
            </div>
        
    </div> -->