
   <div class="container" style="margin-left: 9px; margin-right: auto;">
    <div class="row" style="margin-left: 40%;">
        Search  &nbsp;<input type="text" placeholder=" search by name " [(ngModel)]="search">
        </div>
        <br>
        <div class="row justify-content-center">
            
            <div class="col-md-9">
                <table class="table table-bordered table-striped table-dark" id="planner_table1">
                    <thead class="thead-dark" >
                        <tr class="bg-info">
                        
                          <th>Booking Id</th>
                          <th >Duration(in Weeks)</th>
                          <th>Facilities</th>
                          <th>Price</th>
                          <th>createdBy</th>
                          <th>Date of Booking</th>
                          <th>StartDate</th>
                          <th>EndDate</th>
                          <th>Cancel</th>
                          <th> Status</th>
                        </tr></thead>
                        <tbody *ngIf="bookings" >
                            <tr *ngFor="let booking of bookings |filter:search |paginate: {id: 'listing_pagination', itemsPerPage: 5,currentPage:p, totalItems: totalrecords}" >
                             
                             
                             <td>{{booking.pack_id}}</td>
                            <td>{{booking.Duration}}</td>
                            <td>{{booking.Facilities}}</td>
                            <td>{{booking.price}}</td>
                            <td>{{booking.name}}</td>
                            <td>{{booking.created_date}}</td>
                            <td>{{booking.start_date}}</td>
                            <td>{{booking.end_date}}</td>
                            <td>{{booking.status}}</td>
                            
                            <td><button type="submit"  [disabled]="isDisabled()" *ngIf="booking.status!='CANCELLED'" (click)='cancel(booking)'>Cancel Booking</button></td>
                            </tr>
                       </tbody>
                  </table>
            </div><br><br>
          
        </div></div>
        <pagination-controls id="listing_pagination" directionLinks="true" (pageChange)="p =$event"></pagination-controls>
        